@import "variables";
@import "~bulma";
@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app {
  font-family: 'Open Sans', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;

  &-track {
    background: #f1f1f1;
  }

  &-thumb {
    background: #888;

    &:hover {
      background: #555;
    }
  }
}

